<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.ACCESS_BACKGROUND_LOCATION"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <!-- For Android 10+ -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <!-- <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />-->

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.splash.AccessInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.running_track.PreviewFreeRunActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name=".ui.dashboard.start_run.running.RunPreviewActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/FullScreenTheme">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                 <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->

        </activity>
        <activity
            android:name=".ui.dashboard.start_run.running.StageRunActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/FullScreenTheme"
            android:configChanges="keyboardHidden|orientation|screenSize|uiMode|layoutDirection"
            />
        <activity
            android:name=".ui.running_track.FreeRunNewActivity"
            android:exported="false"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/FullScreenTheme"
            android:configChanges="keyboardHidden|orientation|screenSize|uiMode|layoutDirection"
            />

        <activity
            android:name=".ui.common.CommonPageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.dashboard.DashBoardActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.guide.GuideActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.onboarding.OnBoardingActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".ui.splash.MySplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.primal.runs.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".ui.auth.WelcomeActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.base.permission.PermissionsActivity"
            android:screenOrientation="fullSensor" />

        <service
            android:name=".ui.track_new.LocationService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location" />
        <service
            android:name=".utils.MyNotificationListenerService"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

    </application>

</manifest>